mainnet/data
mainnet/secret/*
!mainnet/secret/.gitkeep
!mainnet/secret/keystore/
mainnet/secret/keystore/*
!mainnet/secret/keystore/.gitkeep
mainnet/motd
testnet/data
testnet/secret/*
!testnet/secret/.gitkeep
!testnet/secret/keystore/
testnet/secret/keystore/*
!testnet/secret/keystore/.gitkeep